
*.editorconfig

.vs/

Export/
TONX/obj/

TONX/Properties/PublishProfiles/
TONX/FodyWeavers.xsd

*Sponsor.xlsx
/Assets/~$Roles ID.xlsx
/TONX.sln
/TONEX/obj/Release/net6.0/Costura/DB2C73CE9127442C2677EFFEE890E92C05A720CB.costura.yamldotnet.dll.compressed.compressed
/TONEX/obj/Release/net6.0/ref/TONEX.dll
/TONEX/obj/Release/net6.0/refint/TONEX.dll
/TONEX/obj/Release/net6.0/TONEX.csproj.CoreCompileInputs.cache
/TONEX/obj/Release/net6.0/TONEX.csproj.FileListAbsolute.txt
/TONEX/obj/Release/net6.0/TONEX.csproj.Fody.CopyLocal.cache
/TONEX/obj/Release/net6.0/TONEX.dll
/TONEX/obj/Release/net6.0/TONEX.pdb
/TONEX/obj/Release/net6.0/TONEX.sourcelink.json
/TONEX/obj/Debug/net6.0/GitHead.cache
/TONEX/obj/Debug/net6.0/GitInfo.cache
/TONEX/obj/Debug/net6.0/GitIsDirty.cache
/TONEX/obj/Debug/net6.0/TONEX.assets.cache
