
*.editorconfig

.vs/

Export/
TONEX/obj/

TONEX/Properties/PublishProfiles/
TONEX/FodyWeavers.xsd

*Sponsor.xlsx
/Assets/~$Roles ID.xlsx
/TONEX.sln
/TONEX/obj/Debug/net6.0/ref/TONEX.dll
/TONEX/obj/Debug/net6.0/refint/TONEX.dll
/TONEX/obj/Debug/net6.0/TONEX.csproj.CoreCompileInputs.cache
/TONEX/obj/Debug/net6.0/TONEX.dll
/TONEX/obj/Debug/net6.0/TONEX.pdb
/TONEX/obj/Debug/net6.0/TONEX.sourcelink.json
/TONEX/obj/Release/net6.0/TONEX.assets.cache
/TONEX/obj/Debug/net6.0/GitHead.cache
/TONEX/obj/Debug/net6.0/TONEX.assets.cache
/TONEX/obj/Debug/net6.0/TONEX.csproj.AssemblyReference.cache
/TONEX/obj/project.assets.json
/TONEX/obj/project.nuget.cache
/TONEX/obj/TONEX.csproj.nuget.dgspec.json
/TONEX/obj/TONEX.csproj.nuget.g.props
/TONEX/obj/Release/net6.0/GitHead.cache
